.paymentPage section{
    padding: 80px;
}
.paymentPage .steps{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 50px;
    direction: ltr;
}
.paymentPage .steps li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    position: relative;

    padding: 10px;
}
.steps li:not(:last-child)::after{
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 0;
    border-top: 2px dashed #fff;
    width: 150px;
    z-index: -1;
}



@media (max-width: 768px) {
    .paymentPage section{
        padding: 20px;
    }
    
}
