.page {
  width: 100%;
  height: 100%;
}
.page section {
  padding: 80px;
}
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/assets/images/legalconsultations/Pattern1.png);
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}
.page h1,
.page h2 {
  font-size: 50px;
  line-height: 1.4;
}
.hero .content {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  padding: 70px 0px;
}
@media (max-width: 1191px) {
  .hero .content {
    width: 100%;
    align-items: center;
  }
  .page h1,
  .page h2 {
    text-align: center;
    font-size: 35px;
  }
}
@media (max-width: 768px) {
  .page section {
    padding: 20px;
  }
  .hero .content p {
    text-align: center;
  }
  .page p {
    font-size: 16px;
  }
}
.legalSupport {
  min-height: 100vh;
}
.legalSupport h2,
.legalSupport p {
  text-align: center;
}
/*-----------------------------------------------------------------*/
.legalSupport p {
  padding-top: 20px;
}
.legalSupport .parent {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}
.legalSupport .card {
  display: flex;
  flex-direction: column;
  flex-basis: 22rem; /* The initial size of the card */
  flex-grow: 1;
  height: 400px;
  margin: 10px;
}
.legalSupport .topCard {
  min-height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: #1b2340;
}
.legalSupport .card span {
  padding: 20px;
  font-weight: 900;
  font-size: 20px;
  display: block;
  text-align: center;
  width: 80%;
  margin: auto;
}
/* @media (max-width: 1191px) {
  .legalSupport .parent {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
} */
@media (max-width: 768px) {
  .legalSupport .card span {
    font-size: 18px;
  }
  .legalSupport .card {
    width: 100%;
  }
}
/*------------------------------------------------------------------------------------*/
.legalAdvice {
  min-height: 100vh;
}
.legalAdvice .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.legalAdvice .card {
  background-color: #1b2340;
  padding: 30px 10px;
  border-radius: 15px;
  flex-basis: 20rem;
  height: 300px;
  margin: 10px;
  transition: flex-basis 0.5s;
}
.legalAdvice .cards {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.legalAdvice .card .left {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  height: 0;
  overflow: hidden;
  border-right: 1px solid #fff;
  padding: 0 20px;
}
.legalAdvice .card .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.legalAdvice p {
  font-size: 12px;
}
.legalAdvice .card .left span {
  font-weight: 900;
}
@media (min-width: 1300px) {
  .legalAdvice .card {
    height: 400px;
  }
  .legalAdvice .card:hover {
    flex-basis: 38rem;
    cursor: pointer;
  }
  .legalAdvice .card:hover .top span {
    display: none;
    opacity: 0;
  }
  .legalAdvice .cards:hover .card:not(:hover) {
    flex-basis: 15rem;
  }
  .legalAdvice .card:hover .left {
    opacity: 1;
    transform: translateX(0);
    height: auto;
  }
  .legalAdvice .left p {
    padding-top: 20px;
  }
  .legalAdvice .card:hover {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 1299px) {
  .legalAdvice .cards {
    flex-wrap: wrap;
    justify-content: center;
  }
  .legalAdvice .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 80%;
    gap: 20px;
  }
  .legalAdvice .card .left {
    opacity: 1;
    height: auto;
  }
  .legalAdvice .card .left span {
    display: block;
    padding-bottom: 10px;
  }

  .legalAdvice .card .top span {
    display: none;
    opacity: 0;
  }
}
@media (max-width: 768px) {
  .legalAdvice .card {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: center;
    height: auto;
    gap: 20px;
  }
  .legalAdvice .card .left {
    text-align: center;
    opacity: 1;
    height: auto;
    border-right: none;
    transform: translateX(0);
  }
  .legalAdvice .card .left span {
    display: block;
    padding-bottom: 10px;
  }
  .legalAdvice .card .top span {
    display: none;
    opacity: 0;
  }
}

/*------------------------------------------------------------------------------------*/
.startcompany .heading {
  text-align: center;
  padding-bottom: 50px;
}
.startcompany .parent {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.startcompany .content p,
.content h3 {
  width: 80%;
  margin: auto;
}
.startcompany .content,
.startcompany .Img {
  width: 40rem;
}
.startcompany .Img {
  padding-top: 100px;
}
.startcompany .content {
  padding-top: 100px;
}
.Img,
.selectInp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.startcompany .parent .whatupCard {
  background-color: #1b2340;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.whatupCard span {
  font-size: 14px;
  font-weight: bold;
}
.startcompany .card {
  position: relative;
  background-image: url("/assets/images/legalconsultations/cardpattern.png");
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
}
.startcompany .img2 {
  position: absolute;
  top: 70px;
  right: 60px;
  z-index: -1;
}
.startcompany select {
  width: 80%;
  outline: none;
  padding: 10px;
  border-radius: 15px;
  color: gray;
}
.startcompany label {
  margin-bottom: 5px;
  /* padding-right: 40px; */
}
.startcompany .line {
  position: relative;
}
.line {
  display: flex;
  justify-content: center;
}
.line::after {
  content: "";
  display: block;
  position: absolute;
  left: 40%;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-left: 4px dotted rgba(128, 128, 128, 0.6);
}

@media (max-width: 900px) {
  .parent {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .startcompany .line {
    display: none;
  }
  .startcompany .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0 !important;
  }
  .startcompany .Img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px !important;
  }
  .startcompany .Img:not(:first-child) {
    order: 1;
    padding-top: 20px !important;
  }
  .startcompany .content {
    order: 2;
    padding-top: 0 !important;
  }
}
@media (max-width: 768px) {
  .startcompany .content p,
  .content h3 {
    width: 100%;
    text-align: center;
  }
  .startcompany p {
    font-size: 16px;
  }
  .startcompany .content,
  .startcompany .Img {
    width: 100%;
  }
}
/*------------------------------------------------------------------------------------*/
.reserveConsultation {
  min-height: 100vh;
}
.reserveConsultation h2 {
  text-align: center;
}
.parentButtons {
  padding: 20px 0;
}
.reserveConsultation .buttons {
  display: flex;
  justify-content: center;
  background-color: #1b234089;
  gap: 20px;
  width: fit-content;
  margin: auto;
  border-radius: 50px;
  padding: 10px;
}
.reserveConsultation .buttons button {
  border: none;
  background: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.buttons button.active {
  background-color: #fff;
  color: #000;
  padding: 5px 15px;
  border-radius: 25px;
}
.reserveConsultation .companiesServices,
.reserveConsultation .individualServices {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.reserveConsultation .companiesServices .card,
.individualServices .card {
  background: linear-gradient(#1b2340, #0e152c);
  width: 22rem;
  padding: 20px;
  height: 600px;
}
.topData {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30%;
}
.topData .info {
  text-decoration: none !important;
  padding-left: 0 !important;
  padding-top: 20px;
  font-size: 25px !important;
}
.reserveConsultation .companiesServices .topData h3,
.individualServices .topCard h3 {
  text-align: center;
}
.topData span:first-of-type {
  text-decoration: line-through;
  font-size: 20px;
  padding-left: 50%;
}
.topData span:last-of-type {
  font-size: 35px;
  font-weight: bold;
}
.companiesServices .offer,
.individualServices .offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.companiesServices .offer span:not(:nth-child(2)),
.individualServices .offer span:not(:nth-child(2)) {
  width: 25%;
  height: 2px;
  background-color: #fff;
}
.companiesServices .offer span,
.individualServices .offer span {
  font-size: 16px;
}
.companiesServices .bodyData,
.individualServices .bodyData {
  padding: 20px 0;
  height: 60%;
}
.companiesServices .bodyData span,
.individualServices .bodyData span {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
}
.companiesServices .card a,
.individualServices .card a {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: flex-end;
}
@media (max-width:768px) {
  .reserveConsultation .companiesServices .card,
.individualServices .card {

  height: 700px;
}

  
}
/*------------------------------------------------------------------------------------*/
.whyUs {
  min-height: 100vh;
}
.whyUs h2,
.whyUs p {
  text-align: center;
}
.whyUs .card {
  background-color: #1b2340;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 26rem;
  height: 350px;
  margin: 10px;
  border-radius: 10px;
}
.whyUs .card p {
  font-weight: 900;
  font-family: janna bol;
  font-size: 26px;
}
.whyUs .cards {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
@media (max-width: 1191px) {
  .whyUs .cards {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .whyUs .card {
    width: 100%;
  }
}
/* ============================================================================ */
.ourCustomers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
}
.ourCustomers .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.customers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.customer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  flex-basis: 300px;
  flex-grow: 1;
}
.customer:nth-of-type(odd) {
  flex-direction: column-reverse;
}
.customer:nth-of-type(odd) .bottom {
  border-bottom-left-radius: 50px;
  border-top-left-radius: 0px;
}
.customers .top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.customer .top .left {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.customer .top .left span:first-child {
  font-weight: bold;
}
.customer .top .left span:last-child {
  font-size: 14px;
}
.customer .bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  background-color: var(--font);
  color: #222;
  padding: 30px;
  height: 350px;
  border-top-left-radius: 50px;
}
.customer .bottom img {
  align-self: flex-end;
}
.accordionQuestions h2 {
  text-align: center;
  padding-bottom: 20px;
}
.accordionQuesHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
}
.accordionQuesHeader img {
  cursor: pointer;
}
.accordionQuesContent {
  border-bottom: 1px solid #fff;
  font-size: 16px;
}
.accordionQues:not(:first-of-type) {
  margin-top: 10px;
}
.accordionQuesContent {
  overflow: hidden;
  max-height: 0;
  font-size: 16px;
  transition: max-height 0.6s;
}
.accordionQuesContent p {
  padding: 20px 10px;
}
.accordionQuesContent.open {
  max-height: 1000px;
}

.divider , .dividerTwo {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100px;
}
.divider div , .dividerTwo .contentWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #d9d9d93d; 
  flex: 3;
  margin: auto;
  padding: 10px;
  border-radius: 25px;
}
.dividerTwo .imgContainer{
  display: flex;
  align-items: center;
}

.divider span , .dividerTwo span{
  flex: 1;
  border-top: 4px dotted rgba(128, 128, 128, 0.499);

}





