.page h1,
.page h2 {
  font-size: 50px;
  line-height: 1.4;
}
.hero {
  min-height: 70vh;
  padding: 80px;
  background-image: linear-gradient(#0e152cd8, #0e152cd8),
    url(/assets/images/joinus/pattern1.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about {
  min-height: 70vh;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.about .parent {
  display: flex;
  justify-content: space-between;
}
.about .parent div {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 1191px) {
  .page h1,
  .page h2 {
    font-size: 35px;
  }
  .hero h1 {
    text-align: center;
  }
  .about .parent {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about img {
    display: none;
  }
}
/*---------------------------------------------------------------------------------*/
.swiperOne {
  min-height: 70vh;
  padding: 80px;
}
.swiperSlide {
  padding: 50px 0;
  min-height: 70vh;
  background-color: var(--main);
}
.swiperOne .parent {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.swiperOne h3 {
  font-size: 24px;
}
.swiperSlide .content {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 1191px) {
  .swiperOne .parent {
    justify-content: center;
    text-align: center;
  }
  .swiperOne h2 {
    text-align: center;
  }
  .swiperOne .swiperSlide .content {
    width: 100%;
  }
  .swiperOne img {
    display: none;
  }
  .values .topContent {
    align-items: center;
    text-align: center;
  }
}
/*---------------------------------------------------------------------------------*/
.values {
  padding: 80px;
  min-height: 70vh;
}
.values .topContent {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.whyChooseContent p {
  padding-top: 60px;
}
.accordionParent {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.accordionItemHeader > div:first-child {
  display: flex;
  gap: 20px;
  align-items: center;
}
.accordionItemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
.accordionItem {
  background-color: #fff;
  border-radius: 25px;
  color: #000;
  width: 18rem;
}
.accordionContent {
  max-height: 0;
  font-size: 16px;
  transition: max-height 1s ease-out;
  border-radius: 25px;
  overflow: hidden;
}
.accordionContent.open {
  max-height: 1000px;
}
.accordionContent p {
  padding: 10px;
  text-align: center;
}
.bottomIcon {
  cursor: pointer;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
.accordionArrowIcon {
  transition: opacity 0.4s;
  cursor: pointer;
}
.accordionArrowIcon.hide {
  opacity: 0;
}
.accordionItem span {
  font-weight: bold;
}
/*---------------------------------------------------------------------------------*/
.startInternship {
  min-height: 70vh;
  padding: 80px;
}
.startInternship .parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.startInternship .content {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.imgContainer {
  position: relative;
}
.imgContainer img:first-child {
  position: absolute;
}
.startInternship a,
.ourJourney a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding-top: 30px;
  transition: 0.3s;
}
.startInternship a:hover,
.ourJourney a:hover {
  gap: 10px;
}

@media (max-width: 1191px) {
  .startInternship .imgContainer {
    display: none;
  }
  .startInternship .content {
    width: 100%;
    align-items: center;
    text-align: center;
  }
}
/*---------------------------------------------------------------------------------*/
.ourJourney {
  min-height: 70vh;
  background-image: linear-gradient(#0e152c45, #0e152c45),
    url(/assets/images/joinus/pattern2.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.ourJourney div {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 80px;
}
.ourJourney p {
  width: 58%;
}
.ourJourney a {
  justify-content: flex-start;
}
@media (max-width : 1191px) {
  .ourJourney{
    text-align: center;
  }
  .ourJourney p{
    width: 100%;
  }
  .ourJourney div {
    align-items: center;
  }
}
/*---------------------------------------------------------------------------------*/
.divider {
  border-top: 4px dotted rgba(128, 128, 128, 0.715);
}
/*---------------------------------------------------------------------------------*/
.links {
  background-color: #1b2340;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 10px;
  font-size: 24px;
  flex-wrap: wrap;
}
/*---------------------------------------------------------------------------------*/
.jobOpportunities {
  min-height: 100vh;
  padding: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.jobOpportunities h2 {
  border-bottom: 1px solid #fff;
  width: fit-content;
  padding-bottom: 20px;
}
.jobOpportunities p {
  padding-top: 20px;
}

.jobOpportunities .left {
  width: 50%;
}
.jobOpportunities .left .content {
  position: relative;
  width: 363px; 
}


.jobOpportunities .jobTitle{
  width: 100%;
  backdrop-filter: blur(5px);
  background-color: #dddddd33;
  text-align: center;
  padding: 10px 10px;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  border-radius: 0 0 15px 15px;

}
@media (max-width: 1300px) {
  .jobOpportunities {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  
  .jobOpportunities h2 {
    text-align: center;
    width: 100%;
    border: none;
  }
  .jobOpportunities .left {
    width: 100%;
  }
  .jobOpportunities .right {
    text-align: center;
  }
}

@media (max-width : 768px) {
  .jobOpportunities,
  .about,
  .values,
  .hero,
  .swiperOne,
  .startInternship,.ourJourney div {
    padding: 20px;
  }
  .page h1,.page h2{
    font-size: 35px;
  }
  .page p{
    font-size: 16px;
  }
  .jobOpportunities img{
    width: 100%;
  }
  .jobOpportunities .left .content{
    width: 100%;
  }
  
}