.page {
    width: 100%;
    height: 100%;
  }
  .page h1,
  .page h2 {
    font-size: 50px;
    line-height: 1.4;
  }
  .page section {
    padding: 80px;
  }
  .hero {
    min-height: 70vh;
    display: flex;
    align-items: center;
    background: linear-gradient(#0e152ce4, #0e152ce4),
      url(/assets/images/askattorny/Pattern.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  @media (max-width: 1191px) {
    .page h1,
    .page h2 {
      font-size: 35px;
    }
    .hero {
      justify-content: center;
      text-align: center;
    }
  }
  @media (max-width: 768px) {
    .page section {
      padding: 20px;
    }
    .steps p , .achieveSuccess p , .steps p , .whyChoose p , .accordionQuestions p , .careerJourney p {
      font-size: 16px;
    }
  }

  /*-------------------------------------------------------------------------*/
.connect {
    min-height: 100vh;
    padding: 80px 0 !important;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  .connect .Img {
    background-color: var(--main);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
  }
  .connect .content {
    margin-right: 450px;
    height: 100%;
    background-color: #fff;
    padding: 70px;
  }
  @media (max-width: 1191px) {
    .connect .Img {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translateY(-20px);
      display: flex;
      justify-content: center;
    }
    .connect .content {
      margin-right: 0;
      padding: 100px;
      text-align: center;
    }
  }
  @media (max-width: 768px) {
    .connect .content {
      padding: 20px;
      margin-right: 0;
    }
  }
  @media (max-width: 400px) {
    .connect img {
      width: 100%;
    }
  }
  
  /*-------------------------------------------------------------------------*/
  .about{
    min-height:70vh ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap : 40px;
  }
  .about div{
    display: flex;
    justify-content: space-between;
  }
  .about h2{
    text-align: center;
  }
  .about p{
    width: 70%;
  }
  .about img{
    align-self: flex-end;
  }
  @media (max-width : 1191px) {
    .about img{
        display: none;
    }
    .about p{
        width: 100%;
        text-align: center;
    }
    
  }

  /*------------------------------------------------------------------------------------*/
.ask .heading {
    text-align: center;
    padding-bottom: 50px;
  }
  .ask .parent {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  
  .ask .content p,
  .content h3 {
    width: 80%;
    margin: auto;
  }
  .ask .content,
  .ask .Img {
    width: 40rem;
  }
  .ask .Img {
    padding-top: 100px;
  }
  .ask .content {
    padding-top: 100px;
  }
  .Img,
  .selectInp {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ask .parent .whatupCard {
    background-color: #1b2340;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .whatupCard span {
    font-size: 14px;
    font-weight: bold;
  }
  .ask .card {
    position: relative;
    background-image: url("/assets/images/legalconsultations/cardpattern.png");
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .ask .img2 {
    position: absolute;
    top: 70px;
    right: 60px;
    z-index: -1;
  }
  .ask select {
    width: 80%;
    outline: none;
    padding: 10px;
    border-radius: 15px;
    color: gray;
  }
  .ask label {
    margin-bottom: 5px;
    /* padding-right: 40px; */
  }
  .ask .line {
    position: relative;
  }
  .line {
    display: flex;
    justify-content: center;
  }
  .line::after {
    content: "";
    display: block;
    position: absolute;
    left: 40%;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-left: 4px dotted rgba(128, 128, 128, 0.6);
  }
  
  @media (max-width: 900px) {
    .parent {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    .ask .line {
      display: none;
    }
    .ask .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-top: 0 !important;
    }
    .ask .Img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 50px !important;
    }
    .ask .Img:not(:first-child) {
      order: 1;
      padding-top: 20px !important;
    }
    .ask .content {
      order: 2;
      padding-top: 0 !important;
    }
  }
  @media (max-width: 768px) {
    .ask .content p,
    .content h3 {
      width: 100%;
      text-align: center;
    }
    .ask p {
      font-size: 16px;
    }
    .ask .content,
    .ask .Img {
      width: 100%;
    }
  }
  /*------------------------------------------------------------------------------------*/