.page {
    width: 100%;
    height: 100%;
}
.page section {
    padding: 80px;
}
.hero {
    background-image: url(/assets/images/Pattern.png);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
}
.page h1,
.page h2 {
    font-size: 50px;
    line-height: 1.4;
}
.hero .content {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding:70px 0px;
}
@media (max-width : 1191px) {
    .hero .content{
        width: 100%;
        align-items: center;
        text-align: center;
        padding: 0;
    }
   
}
.ourofferings{
    min-height: 100vh;

}
.ourofferings h2{
    text-align: center;
}
.ourofferings .parent{
    padding-top: 80px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.ourofferings .card{
    width: 20rem;
    background: linear-gradient(#1B2340,#0E152C);
    border-radius: 30px 30px 0 0;
}
.ourofferings .topCard{
    padding: 80px 50px;
    background: linear-gradient(#1B2340,#1B2340);
    border-radius: 30px;
    position: relative;
}
.ourofferings .topCard h3{
    text-align: center;
}
.ourofferings .card p{
    padding: 30px;
}
.ourofferings .topCard span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(#1B2340,#1C2D4F);
    position: absolute;
    top: -15px;
    right: 50%;
    transform: translateX(50%);

}

/*-----------------------------------------------------------------*/
.succeesfactors{
    min-height: 100vh;
}
.succeesfactors h2{
    text-align: center;
}
.succeesfactors .parent{
    padding-top: 80px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.succeesfactors .card{
    width: 20rem;
    height: 440px;
    background: linear-gradient(#1B2340,#1B2340);
    text-align: center;
    position: relative;
    cursor: pointer;
}
.succeesfactors .topCard{
    background-image: url(/assets/images/legalservices/Pattern2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;

}
.succeesfactors .card .content{
    padding: 10px;
}
.succeesfactors p{
    font-size: 16px;
}
.succeesfactors .overlay {
    background-color: #fff;
    color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0; 
    transform: scaleY(0); 
    transform-origin: bottom; 
    transition: transform 0.4s ease-in-out; 
    border-radius: 25px;

}
.succeesfactors .topOverlay{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #000;
    padding: 30px;
}
.succeesfactors .overlay p{
    padding: 20px;
    text-align: center;
} 
.succeesfactors .card:hover .overlay {
    transform: scaleY(1); 
}
/*------------------------------------------------------------------------------*/
.bestPractice h2{
    text-align: center;
}
.bestPractice{
    min-height: 100vh;
}
.practiceContainer{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .practiceCard {
    position: relative;
    background: linear-gradient(#353e5c, #353e5c);
    padding: 20px;
    border-radius: 25px;
    height: 250px;
  }
   .imgleft {
    position: absolute;
    left: -80px;
    top: -25px;
    z-index: 10;
  }
   .imgright {
    position: absolute;
    right: -80px;
    top: -30px;
    z-index: 10;
  }
  .content {
    width: 85%;
  }
  .contentleft {
    width: 88%;
    padding-right: 200px;
  }




  
  .bestPractices {
    min-height: 100vh;
  }
  
  .contentContainer {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .practiceCard {
    position: relative;
    background: linear-gradient(#353e5c, #353e5c);
    padding: 20px;
    border-radius: 25px;
    height: 250px;
  }
  
  .imgleft {
    position: absolute;
    left: -80px;
    top: -25px;
    z-index: 10;
  }
   .imgright {
    position: absolute;
    right: -80px;
    top: -30px;
    z-index: 10;
  }
  
  .content {
    width: 85%;
  }
  
  .contentLeft {
    width: 88%;
    padding-right: 200px;
  }
  .linkContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .linkContainer > a:first-child {
    padding-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.6s;
  }
  
  .linkItem:first-child:hover {
    transform: scale(1.1);
  }
  .linkContainer > a:last-child{
    background-color: #fff;
    padding: 10px 30px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    color: #000;
  }
  @media (max-width: 1191px) {
    .practiceCard .imgleft {
      width: 200px;
      height: 200px;
      top: -30%;
      left: 50%;
      transform: translateX(-50%);
    }
    .practiceCard .imgright {
      width: 200px;
      height: 200px;
      right: 50%;
      top: -30%;
      transform: translate(50%);
    }
    .contentleft {
      width: 100%;
      padding-right: 0;
      padding: 60px 0;
    }
    .content {
      width: 100%;
      padding: 70px 0;
    }
    .practiceContainer {
      padding: 120px 0;
    }
    .practiceCard {
      height: 300px;
    }
    .practiceCard:not(:last-child) {
      margin-bottom: 100px;
    }
  }
  @media (max-width : 767px) {
    .practiceCard {
      height: 500px;
    }
    .content , .contentleft{
      padding: 70px 0;
    }
    .practiceCard .imgleft {
      top: -20%;
      left: 50%;
      transform: translateX(-50%);
    }
    .practiceCard .imgright {
      right: 50%;
      top: -20%;
      transform: translate(50%);
    }
  }
  @media (max-width : 450px) {
    .practiceCard {
      height: 650px;
    }
    .linkContainer > a:first-child , .linkContainer > a:last-child {
        font-size: 16px;
      }

      
  
  }