.careerJourney {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .careerJourney div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  @media (max-width: 1191px) {
    .careerJourney img{
        display: none;
        align-items: center;
      }
      .careerJourney h2{
        text-align: center;
      }    
  }