.careerJourney {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .careerJourney div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .careerJourney p {
    width: 70%;
  }

  @media (max-width: 1191px) {
    .careerJourney img{
        display: none;
        align-items: center;
      }
      .careerJourney p , .careerJourney h2{
        width: 100%;
        text-align: center;
      }    
  }