.legalServices .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
  .accordionParent {
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(2,40%);
    justify-content: center;
    gap: 40px;

  }
  .accordionItemHeader {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    padding: 10px 50px 10px 10px;

  }
  .accordionItem {
    background: linear-gradient(180deg, #1b2340 6.8%, #0e152c 100%);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    border-radius: 40px;
  }
  .accordionItem span{
    font-weight: 600;
  }
  .accordionContent {
    max-height: 0;
    font-size: 16px;
    transition: max-height 1s;
    overflow: hidden;
    height: 300px;

  }
  .accordionContent.open {
    max-height: 1000px;
  }
  .accordionContent p {
    padding: 20px;
    text-align: center;
  }

  @media (max-width : 1191px) {
    .accordionParent{
        grid-template-columns: repeat(1,70%);

    }
    .accordionContent{
        height: auto;
    }
    
  }
  @media (max-width : 768px) {
    .accordionParent{
        grid-template-columns: repeat(1,100%);
        
    }
    
  }