/*---------------------------------------------------------------------------------*/

.locations h2 {
  text-align: center;
}

.egyLocations .parent {
  padding-top: 50px;
}

.egyLocations .parent {
  display: flex;
  width: 80%;
  margin: auto;
}

.parentLocations {
  background: linear-gradient(#1b2340, #0e152c);
  border: 1px solid #ffffff74;
  border-left: none;
  border-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 80px 80px 0;
  padding: 0 20px;
  height: 475px;
  width: 100%;
}








.contactInformation {
  background-image: url("/assets/images/branches/pattern2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.contactInformation h2 {
  text-align: start;
}

.contactInformation p {
  padding: 50px 0;
  font-size: 24px;
}

/*---------------------------------------------------------------------------------*/
.contactNumbers h2 {
  text-align: center;
}

.contactNumbers .parentLocations {
  height: 475px;
}

.contactNumbers .egyLocations {
  width: 70%;
  margin: auto;
}

.contactNumbers .locationInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  text-align: center;
  padding: 20px 0;
}

.locationInfo:not(:last-child) {
  border-bottom: 3px dashed rgba(128, 128, 128, 0.6);
}

/*---------------------------------------------------------------------------------*/


@media (max-width: 1191px) {

  .egyLocations .parent {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .locations .parentLocations {
    border-radius: 80px;
  }

  .locations .cardImg img {
    display: flex;
    margin: auto;
  }

  .contactNumbers .parentLocations {
    width: 70%;
    margin: auto;
    border-radius: 50px;
  }

  .contactNumbers .cardImg {
    width: 80%;
    margin: auto;
  }

  .contactInformation p {
    font-size: 18px;
    text-align: center;
  }

  .contactInformation {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


}

@media (max-width: 768px) {
  .contactNumbers img {
    width: 100%;
  }

  .contactForm {
    font-size: 16px;
  }

  .contactInformation p {
    font-size: 16px;
    padding-top: 20px;
  }

  .contactNumbers .parentLocations {
    width: 100%;
  }



  .contactNumbers .cardImg {
    width: 100%;
  }

  .contactNumbers img {
    width: 100%;
  }

  .contactForm .formPage {
    width: 100%;
    padding: 20px;
  }
}