
/*---------------------------------------------------------------------------------*/
.locations {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.locations h2 {
  text-align: center;
}
.egyLocations .parent,
.saudiaLocation .parent,
.dubaiLocation .parent,
.chinaLocation .parent , .palestineLocation .parent {
  padding-top: 50px;
}
.egyLocations .parent {
  display: flex;
  justify-content: space-between;
}
.parentLocations {
  background: linear-gradient(#1b2340, #0e152c);
  border: 1px solid #ffffff74;
  border-left: none;
  border-right: 0;
  height: 647px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 50px 50px 0;
  padding: 0 20px;
}
.dubaiLocation .parentLocations{
  height: 475px !important;
}

.locationOne {
  border-bottom: 6px dashed rgba(128, 128, 128, 0.6);
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  padding-bottom: 20px;
}
.locationTwo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  padding-top: 20px;
}
.cardImg {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1b2340;
  z-index: 10;
  opacity: 0.2;
}
.locations img {
  position: relative;
}
.locations p,
.locations span {
  font-size: 16px;
}
.saudiaLocation .parentLocations,
.dubaiLocation .parentLocations,
.chinaLocation .parentLocations {
  height: 304px;
  border-radius: 50px 0 0 50px;
}
.palestineLocation .parentLocations {
  height: 275px;
  border-radius: 50px 0 0 50px;

}
.saudiaLocation .parent,
.dubaiLocation .parent,
.chinaLocation .parent , .palestineLocation .parent {
  display: flex;
  justify-content: space-between;
}
.location {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
}
.chinaLocation .parentLocations {
  border-radius: 0 50px 50px 0;
}
.contactInformation{
  background-image: url("/assets/images/branches/pattern2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.contactInformation h2 {
  text-align: start;
}
.contactInformation p {
  padding: 50px 0;
  font-size: 24px;
}
/*---------------------------------------------------------------------------------*/
.contactNumbers h2 {
  text-align: center;
}
.contactNumbers .parentLocations {
  height: 475px;
}
.contactNumbers .egyLocations{
  width: 70%;
  margin: auto;
}
.contactNumbers .locationInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  text-align: center;
  padding: 20px 0;
}
.locationInfo:not(:last-child) {
  border-bottom: 6px dashed rgba(128, 128, 128, 0.6);
}
/*---------------------------------------------------------------------------------*/


@media (max-width: 1191px) {
  
  .egyLocations .parent,
  .chinaLocation .parent,
  .dubaiLocation .parent,
  .saudiaLocation .parent,.palestineLocation .parent {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .location .parentLocations .parent {
    width: 80%;
  }
  .locations .parentLocations,
  .contactNumbers .parentLocations {
    background-color: green;
    width: 60%;
    margin: auto;
    border-radius: 50px;
  }
  .locations .cardImg,
  .contactNumbers .cardImg {
    width: 60%;
    margin: auto;
  }
  .locations img,
  .contactNumbers img {
    width: 100%;
  }
  .contactInformation p {
    font-size: 18px;
    text-align: center;
  }
 
  .contactInformation {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 768px) {

  .contactForm {
    font-size: 16px;
  }

  .contactInformation p {
    font-size: 16px;
    padding-top: 20px;
  }
  .locations .parentLocations,
  .contactNumbers .parentLocations , .egyLocations .parentLocations {
    width: 100%;
  }
  .egyLocations{
    width: 100% !important;
  }
   .parentLocations {
    height: auto !important;
    width: 100% !important;
    background-color: red !important;
  }
  .locations .cardImg,
  .contactNumbers .cardImg {
    width: 100%;
  }
  .locations img,
  .contactNumbers img {
    width: 100%;
  }
  .contactForm .formPage {
    width: 100%;
    padding: 20px;
  }
}
