.hero {
    display: flex;
    align-items: center;
    background: linear-gradient(#0e152ce4, #0e152ce4),
      url(/assets/images/internship/pattern1.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
  }
  .hero h1 {
    width: 85%;
  }

 @media (max-width: 1191px) {
    .hero {
        justify-content: center;
      }
      .hero h1 {
        width: 100%;
        text-align: center;
      }
    
 } 