.hero {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#0e152ce5, #0e152ce5),
      url(/assets/images/sectors/pattern.png);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  
    color: #fff;
  }