.countries h2{
    text-align: center;
}
.countries .parentvision {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-top: 100px;
  }
  .countries .vision {
    position: relative;
    width: 100%;
  }
  .countries .vision .imgleft {
    position: absolute;
    left: 0;
    top: -40px;
    z-index: 10;
    padding: 10px;
    background: linear-gradient(rgba(255, 255, 255, 0.23) 0%, rgba(216, 216, 216, 0.23) 100%);
    border-radius: 25px;
  }
  .countries .vision .imgright {
    position: absolute;
    right: 0;
    top: -40px;
    z-index: 10;
    padding: 10px;
    background: linear-gradient(rgba(255, 255, 255, 0.23) 0%, rgba(216, 216, 216, 0.23) 100%);
    border-radius: 25px;
  }
  .countries .visioncontent {
    height: 200px;
    background: linear-gradient(rgba(255, 255, 255, 0.13) 0%, rgba(216, 216, 216, 0.13) 100%);
    padding: 20px;
    border-radius: 0  25px 25px 0;
    width: calc(100% - 275px);
  }
  .countries .visioncontentleft {
    height: 200px;
    padding: 20px;
    background: linear-gradient(rgba(255, 255, 255, 0.13) 0%, rgba(216, 216, 216, 0.13) 100%);
    border-radius: 25px 0 0 25px;
    margin-right: 275px;
    
  }
  .visioncontent p {
    width: 80%;
  }
  @media (max-width: 1191px) {
    .countries .vision {
      width: 60%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 25px;
      background: linear-gradient(rgba(255, 255, 255, 0.13) 0%, rgba(216, 216, 216, 0.13) 100%);

    }
    .countries .vision .imgleft {
      position: relative;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: none !important;
      order: 1;
    }
    .countries .vision .imgright {
      position: relative;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: none !important;
      order: 1;
    }
    .countries .visioncontent {
      text-align: center;
      order: 2;
      height: auto ;
      background: none ;
      width: 100%;
    }
    .countries .visioncontentleft {
      text-align: center;
      order: 2;
      height: auto ;
      background: none ;
      width: 100%;
    margin-right: 0;

    }
    .visioncontent p,
    .visioncontentleft p {
      width: 100%;
    }
  }
  @media (max-width: 768px) {
    .countries .vision {
      width: 100%;
    }
   
    .countries .parentvision {
      gap: 20px;
    }
    
  }