/* .whyUs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    text-align: center;
} */
.whyUs .heading{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.swiperContainer{
    padding-top: 80px;
    width: 85%;
    margin: auto;
}

.ourTeam {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    text-align: center;
}

.ourTeam .header,
.ourCustomers .header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}
.SwiperSlide{
    width: 28.5rem !important;
    height: 30rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card {
    padding: 50px 30px;
    background-image: linear-gradient( #0E152C, #21233A);
    border-radius: 8px;
    height: 100%;
    width: 100%;
    position: relative;
    /* margin: auto; */
    display: flex;
}
.card img{
    margin: auto;
}
.card p{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0E152C;
    padding: 20px;
    text-align: center;
}


@media (max-width: 1191px) {
    .swiperContainer{
      width: 100%;
    }
    .SwiperSlide{
      width: 28rem !important;
  
    }
    
  }
  
  @media (max-width: 767px) {
  
    .SwiperSlide{
      width: 100% !important;
      
    }
  }
  