.expert{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.expert .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1191px) {
    .expert .content img{
        display: none;
    }
 
    .expert .content{
        justify-content: center;
        text-align: center;
    }
    .expert h2{
        text-align: center;
    }
    
}