/*------------------------------------------------------------------------------------*/
.visionSectionContainer {
  padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .visionItem {
    position: relative;
    width: 100%;

  }
  .visionItem .imgLeft {
    position: absolute;
    left: -20px;
    top: -40px;
    z-index: 10;
  }
  .visionItem .imgRight {
    position: absolute;
    right: -20px;
    top: -40px;
    z-index: 10;
  }
  .visioncontent {
    height: 200px;
    /* background-color: #1C2340; */
    background: linear-gradient(to left,#1D243D 3% , #121A36 100%);
    padding: 20px;
    border-radius: 25px;
    width: 95%;
  }
  .visioncontentleft {
    width: 95%;
    height: 200px;
    padding: 20px;
    /* background-color: #1C2340; */
    background: linear-gradient(to right,#1D243D 3% , #121A36 100%);

    border-radius: 25px;
    padding-right: 200px;
    margin-right: 5%;

  }
  .aboutVision h2{
    text-align: center;
  }
  .visioncontent p {
    width: 85%;

  }
  /*-------------------------------------------------------------------------*/
  @media (max-width: 1191px) {
    .visionItem .imgLeft {
        position: relative;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0; 
      }
      .visionItem .imgRight {
        position: relative;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      .visioncontentleft {
        width: 100%;
        height: auto;
        padding: 20px;
        margin-right: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .visioncontent {
        text-align: center;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        order: 2;
      }
      .visionItem {
        width: 60%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* background: linear-gradient(#353e5c, #353e5c); */
        /* background-color: #1C2340; */
        border-radius: 25px;
      }
      .visionItem:nth-child(odd){
        background: linear-gradient(to bottom,#1D243D 3% , #121A36 100%);

      }
      .visionItem:nth-child(even){
        background: linear-gradient(to top,#1D243D 3% , #121A36 100%);
      }
      .visioncontent,.visioncontentleft{
        background: none;
      }
      .visioncontentleft p {
        width: 85%;
      }    
    
  }
  @media (max-width: 767px) {
    .visionItem p , .visionItem h3{
      text-align: center;
    }
    .visioncontentleft p , .visioncontent p{
        width: 100%;
      }
      .visionItem{
        width: 100%;
      }    
  }