.container {
    display: flex;
}



.main {
    width: 100%;
    padding: 80px;
}







@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .main {
        padding: 20px;
    }
}