.hero{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/images/privacypolicy/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.hero h1{
    text-align: center;
}
@media (max-width: 768px) {
    .hero{
        min-height: 20vh;
    }
}