.requestSummary section{
padding: 80px;
}

.buttons{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
.buttons button{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    border-radius: 4px;
    padding: 15px 40px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
}
.buttons div:first-child{
    display: flex;
    gap: 40px;
}
.buttons div:first-child button:first-child{
    background-color: #fff;
}
.buttons div:first-child button:last-child , .buttons button:last-child{
    background:none;
    color: #fff;
    border: 1px solid #fff;
}
@media (max-width: 1191px) {
    .requestSummary h2{
        text-align: center;
    }
    .buttons{
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
    .buttons div:first-child{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}

/*  */

.summary span{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    background-color: gray;
    width: 100%;
    padding: 80px 50px;
}
.summary .parent {
  width: 100%; 
  border-radius: 24px; 

  overflow: hidden; 
}
.requestSummary table {
    width: 100%; 
    border-collapse: collapse; 
    text-align: center;
    border-radius: 40px;
    overflow: scroll;
    
}
.summary table thead th{
    background-color: #000;
    padding: 20px 0 !important;
}
.summary table tbody td{
    padding: 20px 0 !important;
    background-color: #fff;
    color: #000;
}